@{
  Layout = "_Layout";
}


@model BestRestaurant.Models.Restaurant;


<h2>Restaurant name: @Model.Name</h2>
<h2>Cuisine: @Model.Cuisine.Name</h2>



@Html.ActionLink("Back to all Cuisines", "Index", "Cuisines")
@Html.ActionLink("Write A Review", "Create", "Reviews", new { id = Model.RestaurantId })